.slide-content-complaince {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 80px;
  margin-top: 40px;
}

.swiper-slide.complaince {
  position: relative;
}

.svg-background-complaince svg {
  width: 50%;
  height: auto;
  background-position: -32%; 
  background-size: contain; 
  background-repeat: no-repeat;  
}

.svg-background-complaince{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;  /* Certifique-se de que está atrás do conteúdo do slide */
}



  .complaince {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 80px;
  }

.complaince-texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.complaince-texto h2 {
  color: var(--text);
  font: 500 2rem/1.125 "Hind", sans-serif;
}

.complaince-texto p {
  color: var(--secondary);
  font: 300 1rem/1.4 "Hind", sans-serif;
  margin-bottom: 1rem;
}

.complaince-politicas h3 {
  color: var(--secondary);
  font: 500 1.2rem/1.25 "Hind", sans-serif;
  margin-bottom: 2rem;
}

.politicas li {
  color: var(--text);
  font: 300 1rem/1.25 "Hind", sans-serif;
  margin-bottom: 15px;

}



ul.politicas li {
  position: relative;
  padding-left: 20px; 
}

ul.politicas li::before {
  content: ""; 
  position: absolute; 
  left: 0; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 6px; 
  height: 6px; 
  border-radius: 50%; 
  background-color: var(--primary); 
}

.politicas a:hover {
  opacity: 0.6;
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.politicas a {
  color: var(--text);
}

@media (max-width: 800px) {

  .slide-content-complaince {
  grid-template-columns: 1fr;
  gap: 40px;
  margin-top: 0;
  }

  .swiper-slide.complaince {
    background-size: cover; 
  }
  
  }