.slide-content-institucional {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 60px;
}


.institucional-texto {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.institucional-texto h2 {
  color: var(--text);
  font: 500 2rem/1.125 "Hind", sans-serif;
}

.institucional-texto p {
  color: var(--secondary);
  font: 300 1rem/1.4 "Hind", sans-serif;
  /* margin-bottom: 1rem; */
}

.destaques__institucional {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.destaque__institucional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 4px;
  background-color: var(--primary);
  border-radius: 6px;
  min-height: 60px;
}

.destaque__institucional:nth-child(2) {
  background-color: var(--primary90);
}

.destaque__institucional:nth-child(3) {
  background-color: var(--primary80);
}

.destaque__titulo {
  font: 500 1rem/1.2 "Hind", sans-serif;
  color: var(--bg);
  text-align: center;
  max-width:40ch
}

.svg-container {
  display: block; /* Isso garante que a div se ajuste ao conteúdo */
}

.slide-content-institucional, .slide-content-parcerias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.parcerias-globais h3 {
  color: var(--text);
  font: 500 2rem/1.125 "Hind", sans-serif;
  margin-bottom: 12px;
}

.parcerias-globais p {
  color: var(--text);
  font: 300 1rem/1.4 "Hind", sans-serif;
  margin-bottom:10px;
}


@media (max-width: 700px) {
  
  .slide-content-institucional {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 0;
  }

  .destaque__institucional {
    min-height: 140px;
  }

  .svg-container svg {
    max-width: 100%;
    max-height: 240px;
  }
}