[data-menu="button"] {
  display: none;
}

@media (max-width: 700px) {
  .js [data-menu="button"] {
    display: flex;
    background: none;
    border: none;
    padding: 0.8rem 0.8rem;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 4px 0;
    align-items: center;
    position: relative;
    z-index: 300;
  }
  
  #hamburguer {
    width: 30px;
    border-top: 2px solid #ffffff;
  }

  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    position: relative;
  }
  .js [data-menu="button"].active #hamburguer {
    border-top: transparent;
  }

  .js [data-menu="button"].active #hamburguer::before {
    transform: rotate(135deg);
  }

  .js [data-menu="button"].active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .js [data-menu="list"]  {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0px;
    text-align: center;
    z-index: 1;
    height: 100vh;
    background-color: var(--primary);
  }

  .js [data-menu="list"] a {
    font-size: 36px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .js [data-menu="list"] li {
    width: 90%;
    position: relative;
  }

  .js [data-menu="list"] li::after {
    content: "";
    display: block;
    width: 100%;
    top: 16px;
    height: 2px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.09);
    position: relative;
  }

  .js [data-menu="list"] li:last-child::after {
    display: none;
  }

  .js [data-menu="list"].active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: show-right 0.3s forwards;
  }
}