.btn {
  font: 500 1rem/1.5 "Inter", sans-serif;
  color: var(--bg);
  background-color: var(--secondary);
  border-radius: 50px;  
  padding: 12px 24px;  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;  
  white-space: nowrap; 
  cursor: pointer; 
  width: fit-content;
  border: 0;
  transition: background-color 0.3s, transform 0.3s; 
  transform: scale(1); 
}

.btn:hover {
  background-color: var(--alerta);
  transform: scale(1.05); 
}

/* .btn:active {
  transform: scale(0.95); 
} */