.swiper-slide.contato {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.310474 7.83717C3.30517 8.15577 5.53527 9.17527 6.55467 12.2974C6.93697 13.4443 6.49097 14.846 7.70157 14.7186C7.82907 14.5275 7.82907 14.5275 7.95647 14.4637C8.21137 11.3416 9.42197 9.23897 12.2255 8.28317C13.5636 7.83717 14.8379 8.15577 14.8379 7.39117C14.8379 6.30797 12.6715 7.45487 10.0591 5.22478C7.38297 2.93098 8.46617 0.3823 7.70157 0.0637202L7.06447 0C6.42727 0.89204 7.31927 5.03363 2.03077 6.56287C1.26617 6.75397 -0.772726 6.49907 0.310474 7.83717ZM3.68747 7.39117C4.83437 8.09207 5.85377 8.66547 6.68217 9.93987C6.93697 10.3222 7.12817 10.7045 7.38297 11.0868C7.63787 10.9593 7.63787 10.8319 7.82907 10.6407C8.52987 9.30267 9.86797 7.96457 11.2061 7.39117L10.6326 6.94517C10.3777 6.75397 10.2503 6.75397 10.0591 6.56287C8.33877 5.41593 8.08387 4.33275 7.63787 3.75929C7.38297 3.50443 7.57417 3.63186 7.38297 3.56814C6.87327 4.33275 6.55467 5.09735 5.85377 5.73452C5.08917 6.56287 4.32457 6.81767 3.94227 7.13627C3.68747 7.32747 3.87857 7.13627 3.68747 7.39117Z' fill='%234A7494'/%3E%3C/svg%3E");
  background-size: 20px 20px; 
  background-repeat: repeat;
  background-color: var(--primary);
}

.slide-content-contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 48px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form h2 {
  font: 500 2rem/1.125 "Hind", sans-serif;
  color: var(--bg);
}

#contact-form {
  width: 40vw;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input[type="text"] {
  width: 100%;
  padding: 10px;
  background-color: #446A87;
  color: #fff;
  /* placeholder: #D9D9D9; */
  border: 0.5px solid var(--secondary);
  border-radius: 6px;
}

.form-field input[type="email"] {
  width: 100%;
  padding: 10px;
  background-color: #446A87;
  color: #fff;
  /* placeholder: #D9D9D9; */
  border: 0.5px solid var(--secondary);
  border-radius: 6px;
}

.form-field textarea {
  width: 100%;
  padding: 10px;
  background-color: #446A87;
  color: #fff;
  /* placeholder: #D9D9D9; */
  border: 0.5px solid var(--secondary);
  border-radius: 6px;
}

.form-field input::placeholder,
.form-field textarea::placeholder {
  color: #D9D9D9;
}

.half-width, .half-width-1 {
  float: left;
  width: calc(50% - 10px); /* Ajusta a largura considerando o espaçamento */
  box-sizing: border-box;
}

.half-width-1 {
  margin-right: 20px; /* Espaçamento entre os campos */
}

#send-button {
  background-color: #fff;
  color: #4E7A9B;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  font: 800 1rem/1 "Hind", sans-serif;
  transition: opacity 0.3s ease; /* Adiciona uma transição suave para a opacidade */
}

#send-button:hover {
  opacity: 0.7; /* Reduz a opacidade quando o mouse está sobre o botão */
}

/* Clearfix */
.form-field::after {
  content: "";
  display: table;
  clear: both;
}

.contato-lista {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.contato-lista li {
  font: 300 1rem/1.65 "Hind", sans-serif;
  color: var(--bg);
}

.contato-lista a {
  color: var(--bg);
}

.contato-lista a:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.contato-lista p {
  font: 300 1rem/1.45 "Hind", sans-serif;
  color: var(--bg);
}

@media (max-width: 768px) {
  .slide-content-contato {
  grid-template-columns: 1fr;
  gap: 40px;
  margin-top: 0;
  }

  #contact-form {
    width: 90vw;
  } 
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) and (orientation: portrait) {
  .slide-content-contato {
    grid-template-columns: 1fr;
    gap: 80px;
  }
}
