:root {
  --textwhite: #FBFBFB;
  --text: #2D2D2D;
  --bg: #ffffff;
  --primary: #A00000;
  --secondary: #BF1515;
  --alerta: #FE0000;
  --primary5: hsl(0, 100%, 31%, 5%);
  --primary10: hsl(0, 100%, 31%, 10%);
  --primary15: hsl(0, 100%, 31%, 15%);
  --primary20: hsl(0, 100%, 31%, 20%);
  --primary25: hsl(0, 100%, 31%, 25%);
  --primary30: hsl(0, 100%, 31%, 30%);
  --primary35: hsl(0, 100%, 31%, 35%);
  --primary40: hsl(0, 100%, 31%, 40%);
  --primary45: hsl(0, 100%, 31%, 45%);
  --primary50: hsl(0, 100%, 31%, 50%);
  --primary55: hsl(0, 100%, 31%, 55%);
  --primary60: hsl(0, 100%, 31%, 60%);
  --primary65: hsl(0, 100%, 31%, 65%);
  --primary70: hsl(0, 100%, 31%, 70%);
  --primary75: hsl(0, 100%, 31%, 75%);
  --primary80: hsl(0, 100%, 31%, 80%);
  --primary85: hsl(0, 100%, 31%, 85%);
  --primary90: hsl(0, 100%, 31%, 90%);
  --primary95: hsl(0, 100%, 31%, 95%);
  --secondary5: hsl(0, 80%, 42%, 5%);
  --secondary10: hsl(0, 80%, 42%, 10%);
  --secondary15: hsl(0, 80%, 42%, 15%);
  --secondary20: hsl(0, 80%, 42%, 20%);
  --secondary25: hsl(0, 80%, 42%, 25%);
  --secondary30: hsl(0, 80%, 42%, 30%);
  --secondary35: hsl(0, 80%, 42%, 35%);
  --secondary40: hsl(0, 80%, 42%, 40%);
  --secondary45: hsl(0, 80%, 42%, 45%);
  --secondary50: hsl(0, 80%, 42%, 50%);
  --secondary55: hsl(0, 80%, 42%, 55%);
  --secondary60: hsl(0, 80%, 42%, 60%);
  --secondary65: hsl(0, 80%, 42%, 65%);
  --secondary70: hsl(0, 80%, 42%, 70%);
  --secondary75: hsl(0, 80%, 42%, 75%);
  --secondary80: hsl(0, 80%, 42%, 80%);
  --secondary85: hsl(0, 80%, 42%, 85%);
  --secondary90: hsl(0, 80%, 42%, 90%);
  --secondary95: hsl(0, 80%, 42%, 95%);
   --alerta5: hsl(0, 100%, 50%, 5%);
  --alerta10: hsl(0, 100%, 50%, 10%);
  --alerta15: hsl(0, 100%, 50%, 15%);
  --alerta20: hsl(0, 100%, 50%, 20%);
  --alerta25: hsl(0, 100%, 50%, 25%);
  --alerta30: hsl(0, 100%, 50%, 30%);
  --alerta35: hsl(0, 100%, 50%, 35%);
  --alerta40: hsl(0, 100%, 50%, 40%);
  --alerta45: hsl(0, 100%, 50%, 45%);
  --alerta50: hsl(0, 100%, 50%, 50%);
  --alerta55: hsl(0, 100%, 50%, 55%);
  --alerta60: hsl(0, 100%, 50%, 60%);
  --alerta65: hsl(0, 100%, 50%, 65%);
  --alerta70: hsl(0, 100%, 50%, 70%);
  --alerta75: hsl(0, 100%, 50%, 75%);
  --alerta80: hsl(0, 100%, 50%, 80%);
  --alerta85: hsl(0, 100%, 50%, 85%);
  --alerta90: hsl(0, 100%, 50%, 90%);
  --alerta95: hsl(0, 100%, 50%, 95%);
  
}

/* Text Color */
.text {
  color: var(--text);
}

.textwhite {
  color:  var(--textwhite);
}

/* Background Color */
.bg {
  background-color: var(--bg);
}

/* Primary Color */
.primary {
  color: var(--primary);
}

/* Secondary Color */
.secondary {
  color: var(--secondary);
}

/* Accent Color */
.accent {
  color: var(--alerta);
}

/* Text Contrast Color */
.textcontrast {
  color: var(--textcontrast);
}

/* Text Shades */
.text5 {
  color: var(--text5);
}

.text10 {
  color: var(--text10);
}

.text15 {
  color: var(--text15);
}

.text20 {
  color: var(--text20);
}

.text25 {
  color: var(--text25);
}

.text30 {
  color: var(--text30);
}

.text35 {
  color: var(--text35);
}

.text40 {
  color: var(--text40);
}

.text45 {
  color: var(--text45);
}

.text50 {
  color: var(--text50);
}

.text55 {
  color: var(--text55);
}

.text60 {
  color: var(--text60);
}

.text65 {
  color: var(--text65);
}

.text70 {
  color: var(--text70);
}

.text75 {
  color: var(--text75);
}

.text80 {
  color: var(--text80);
}

.text85 {
  color: var(--text85);
}

.text90 {
  color: var(--text90);
}

.text95 {
  color: var(--text95);
}

/* Bg Shades */
.bg5 {
  color: var(--bg5);
}

/* Primary Shades */
.primary5 {
  color: var(--primary5);
}

.primary10 {
  color: var(--primary10);
}

.primary15 {
  color: var(--primary15);
}

.primary20 {
  color: var(--primary20);
}

.primary25 {
  color: var(--primary25);
}

.primary30 {
  color: var(--primary30);
}

.primary35 {
  color: var(--primary35);
}

.primary40 {
  color: var(--primary40);
}

.primary45 {
  color: var(--primary45);
}

.primary50 {
  color: var(--primary50);
}

.primary55 {
  color: var(--primary55);
}

.primary60 {
  color: var(--primary60);
}

.primary65 {
  color: var(--primary65);
}

.primary70 {
  color: var(--primary70);
}

.primary75 {
  color: var(--primary75);
}

.primary80 {
  color: var(--primary80);
}

.primary85 {
  color: var(--primary85);
}

.primary90 {
  color: var(--primary90);
}

.primary95 {
  color: var(--primary95);
}

/* Secondary Shades */
.secondary5 {
  color: var(--secondary5);
}

.secondary10 {
  color: var(--secondary10);
}

.secondary15 {
  color: var(--secondary15);
}

.secondary20 {
  color: var(--secondary20);
}

.secondary25 {
  color: var(--secondary25);
}

.secondary30 {
  color: var(--secondary30);
}

.secondary35 {
  color: var(--secondary35);
}

.secondary40 {
  color: var(--secondary40);
}

.secondary45 {
  color: var(--secondary45);
}

.secondary50 {
  color: var(--secondary50);
}

.secondary55 {
  color: var(--secondary55);
}

.secondary60 {
  color: var(--secondary60);
}

.secondary65 {
  color: var(--secondary65);
}

.secondary70 {
  color: var(--secondary70);
}

.secondary75 {
  color: var(--secondary75);
}

.secondary80 {
  color: var(--secondary80);
}

.secondary85 {
  color: var(--secondary85);
}

.secondary90 {
  color: var(--secondary90);
}

.secondary95 {
  color: var(--secondary95);
}

/* Secondary Shades */
.salerta5 {
  color: var(--alerta5);
}

.salerta10 {
  color: var(--alerta10);
}

.alerta15 {
  color: var(--salerta15);
}

.alerta20 {
  color: var(--salerta20);
}

.alerta25 {
  color: var(--alerta5);
}

.alerta30 {
  color: var(--alerta30);
}

.alerta35 {
  color: var(--alerta35);
}

.alerta40 {
  color: var(--alerta40);
}

.alerta45 {
  color: var(--alerta45);
}

.alerta50 {
  color: var(--alertay50);
}

.alerta55 {
  color: var(--alerta55);
}

.alerta60 {
  color: var(--alerta60);
}

.alerta65 {
  color: var(--alerta65);
}

.alerta70 {
  color: var(--alerta70);
}

.alerta75 {
  color: var(--alerta75);
}

.alerta80 {
  color: var(--alerta80);
}

.alerta85 {
  color: var(--alerta85);
}

.alerta90 {
  color: var(--alerta90);
}

.alerta95 {
  color: var(--alerta95);
}