.header {
  width: 100%;
  z-index: 1000;
  background-color: var(--primary);
  position: fixed;
  top: 0;
}

.header_menu {
  box-sizing: border-box;
  height: 100%;
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

nav.menu {
  display: flex;
  align-items: center; /* Alinha os itens do menu verticalmente */
  justify-content: flex-end; /* Alinha os itens à direita */
  /* width: 100%;  */
}

ul[data-menu="list"] {
  display: flex; 
  list-style: none;
  padding: 0; 
  gap: 1.4rem;
  align-items: center;
}

.menu  li {
  align-self: center;
}

#menu li a[data-translate="menuFaleConosco"] {
  display: inline-block;
  padding: 10px 20px; /* Ajuste o padding conforme necessário */
  background-color: var(--secondary); /* Cor de fundo mais escura ao passar o mouse */
  color: white; /* Cor do texto */
  border-radius: 20px; /* Bordas arredondadas */
  text-decoration: none; /* Remove o sublinhado do link */
  transition: background-color 0.3s, transform 0.3s; /* Suaviza a transição de cores e transformação */
}

#menu li a[data-translate="menuFaleConosco"]:hover {
  background-color: var(--alerta40);
  transform: scale(1.05); /* Aumenta ligeiramente o botão */
  opacity: 1;
}

#menu li a[data-translate="menuFaleConosco"]:active {
  transform: scale(0.95); /* Reduz ligeiramente o botão ao clicar */
}

.menu a {
  color: var(--bg);
  font: 1rem 'inter', sans-serif;;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 10px 8px;
  position: relative;     
  line-height: 1; /* Reduz o line-height para remover espaços extras */
}

.menu a:hover {
  opacity: 0.6;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
/* Esconder submenu por padrão */
.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 12px;
}

/* Exibir submenu ao passar o mouse sobre o item pai */
.has-submenu:hover .submenu {
  display: block;
}

/* Estilos para itens do submenu */
.submenu li {
  margin: 0;
  padding: 10px 20px;
}

.submenu li a {
  color: #333;
  text-decoration: none;
  display: block;
}

.submenu li a:hover {
  background-color: #f5f5f5;
}

.language-switch {
  position: relative;
}

.language-options {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 5px 0;
  border-radius: 12px;
}

.language-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 12px 18px;
}

.language-button img.language-icon {
  width: 16px; /* Ajuste conforme necessário */
  height: auto;
  margin-left: 5px;
}

.language-button:hover, .language-button:focus {
  opacity: 0.6;
}

#current-lang {
  color: var(--textwhite);
}


@media (max-width: 768px) { 
  .header {
    position: fixed; /* Mantém o cabeçalho fixo no topo */
    width: 100%; /* Ocupa a largura total da tela */
    background-color: none;
    z-index: 10; /* Garante que o cabeçalho fique acima de outros elementos */
    top: 0; /* Alinha o cabeçalho ao topo da página */
    left: 0; /* Alinha o cabeçalho à esquerda da página */
    /* border-bottom: 1px solid var(--bg); */
  }

  .header a > img {
    width: 100%;
  }

  .header_menu {
    padding: 0.5rem 0;
  }

  .menu-button {
    display: none;
  }

  /* .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--secondary40);
    padding: 0;
    margin: 0;
    top: 6px;
    box-shadow: none;
    border-radius: 0px;
  }

  ul[data-menu="list"] .submenu li {
    padding: 4px 0;
    border: none;
  }

  ul[data-menu="list"] .submenu li a {
    font-size: 14px !important;
    color: var(--textwhite);
    text-decoration: none;
    display: block;
  } */

  .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Necessário para o posicionamento absoluto dos elementos filhos */
    background-color: var(--secondary40);
    padding: 0;
    margin: 0;
    top: 6px;
    width: 100vw; /* Ocupe toda a largura da viewport */
    box-shadow: none;
    border-radius: 0;
  }
  
  ul[data-menu="list"] .submenu li {
    width: 100vw; /* Garante que cada item de submenu ocupe toda a largura da tela */
    position: relative; /* Define como contêiner de referência para o pseudo-elemento ::after */
    padding: 4px 0;
    border: none;
  }
  
  ul[data-menu="list"] .submenu li a {
    font-size: 16px !important;
    color: var(--textwhite);
    text-decoration: none;
    display: block;
    width: 100%; /* Faz o link ocupar toda a largura do item de lista */
    padding: 6px 0; /* Adiciona padding para aumentar a área de clique */
    text-align: center;
  }
  
  ul[data-menu="list"] .submenu li a::after {
    content: "";
    display: block;
    width: 100vw; /* Ocupe 100% da largura da tela */
    height: 2px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.09);
    position: absolute; /* Define o ::after como absoluto para ocupar a largura total */
    left: 0; /* Alinha à esquerda da tela */
    bottom: -4px; /* Ajusta a posição vertical da linha */
  }
  




  .language-options {
    top: 30px;
  }

  .language-button {
    font-size: 16px;
  }

  .language-switch {
    position: relative;
    display: flex;
    justify-content: center;
  }

  #menu li a[data-translate=menuFaleConosco] {
    background-color: transparent;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) {
  .header_menu {
    box-sizing: border-box;
    height: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
  }

  .menu ul {
    gap: 1.2rem;     
  }

  .menu a {
    font-size: 1rem;     
  }
}

@media only screen and (min-width: 1180px) {
  .menu a {
    font-size: 1rem;
  }
}
