.header {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.header.dark{
background-color: var(--primary);
}


.header_menu {
  box-sizing: border-box;
  height: 50px;
  padding: 3.2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav.menu {
  display: flex;
  align-items: center; /* Alinha os itens do menu verticalmente */
  justify-content: flex-end; /* Alinha os itens à direita */
  width: 100%; /* Garante que o nav ocupe toda a largura disponível */
}

ul[data-menu="list"] {
  display: flex; /* Para alinhar os itens do menu horizontalmente */
  list-style: none; /* Remove estilos padrão da lista */
  padding: 0; /* Remove o padding padrão */
  margin-right: 20px; /* Ajuste conforme necessário para espaço entre menu e botão */
}

.menu ul {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  }

.menu  li {
  font-family: "Hind", Arial, sans-serif;
  align-self: center;
}

.menu a {
  color: var(--bg);
  font-size: 1.2rem;
  display: flex;
  justify-content: flex;
  justify-content: center;
  text-decoration: none;
  padding: 12px 8px;
  position: relative;     
  }

  .menu a:hover {
    opacity: 0.6;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .header_menu.minimal  {
    /* height: 30px; */
   padding: 1rem 0;
  }

  .header a > img.minimal {
    /* width: 50%;  */
    transition: width 0.3s ease;
  }

/* Estilos para os links do menu com a classe minimal */
.header .menu a.minimal {
  /* Exemplo: muda a cor e o tamanho da fonte dos links */
  font-size: 1rem; /* Menor */
  transition: color 0.3s ease, font-size 0.3s ease;
}

/* Estilos para o logotipo com a classe dark */
.header a > img.dark {
  filter: none; 
  transition: filter 0.3s ease;
}

.header a > img {
  filter: brightness(0) invert(1); 
  transition: filter 0.3s ease;
  z-index: 99;
  opacity: 1;
}


.header .menu a.dark {
  color: var(--bg); 
  transition: color 0.3s ease;
}








@media (max-width: 800px) {

  .header {
    position: fixed; /* Mantém o cabeçalho fixo no topo */
    width: 100%; /* Ocupa a largura total da tela */
    background-color: none;
    z-index: 10; /* Garante que o cabeçalho fique acima de outros elementos */
    top: 0; /* Alinha o cabeçalho ao topo da página */
    left: 0; /* Alinha o cabeçalho à esquerda da página */
  }

  .header-scrolled {
    background-color: var(--primary); 
  }
  .header_menu {
    padding: 2.4rem 20px;
  }

  .menu a:hover::before {
    display: none;
  }
  .menu a:hover::after {
    display: none;
  }

  .menu-button {
    display: none;
  }

  ul[data-menu="list"] {
    margin-right: 0px;
}


}