.slide-content-institucional {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  gap: 20px;
}

.institucional-texto {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

.institucional-texto p {
  color: var(--text);
  font: 300 1rem/1.4 "Hind", sans-serif;
  margin-bottom: 1rem;
}

.titulo-institucional {
  color: var(--text);
  font: 500 2rem/1.125 "Hind", sans-serif;
}

.destaques__institucional {
  display: flex;
  gap: 24px;
}

.destaque__institucional {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--secondary);
  border-radius:6px;
}

.destaque__titulo  {
  font: 500 1rem/1.2 "Hind", sans-serif;
  color: var(--bg);
  text-align: center;
  max-width:40ch
}

.diferenciais {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.diferenciais h3 {
  color: var(--text);
  font: 500 1rem/1.4 "Hind", sans-serif;
}

@media (max-width: 768px) {

  .slide-content-institucional {
    margin-top: 0px;
  }
  
  .institucional-texto {
    flex-wrap: wrap;
    gap: 0px;
  }

  .destaque__institucional {
    min-height: 100px;
  }

  .destaques__institucional {
    flex-direction: column;
  }

  .svg-container svg {
    max-width: 100%;
    max-height: 240px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) and (orientation: portrait) {   
  .institucional-texto {
    flex-wrap: wrap;
    gap: 0px;
  }
}