.introducao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 100vh;
  width: 100%;  
  
  /* Gradiente de fundo */
  background: linear-gradient(to bottom, #A00000, #760000),
              url('../img/linhas-diagonais.png');
              background-repeat: no-repeat;
              

  background-size: cover;
  background-blend-mode: multiply;
}

.introducao-texto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 0 200px;
}

.introducao-texto h1 {
  font-size: 3.2rem;
  color: var(--bg);
  text-align: center;
}

.introducao-texto p {
  font-size: 1.2rem;
  color: var(--bg);
  max-width: 80ch;
  text-align: center;
}

 