[data-menu="button"] {
  display: none;
}

[data-menu="contato-mobile"] {
 display: none;
}

[data-menu="linkedin"] {
  display: none;
}

@media (max-width: 700px) {

  .js [data-menu="logo"] {
    z-index: 999;
  }

  .js [data-menu="button"] {
    display: flex;
    background: none;
    border: none;
    padding: 0.8rem 0.8rem;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: 'Hind', monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 4px 0;
    align-items: center;
    position: relative;
    z-index: 300;
  }

  #hamburguer {
    width: 30px;
    height: 2px;
    background: #ffffff;
    border-radius: 1px;
    position: relative;
    transition: background 0.3s ease; /* Suaviza a transição da cor de fundo */
  }

  #hamburguer::before,
  #hamburguer::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #ffffff;
    border-radius: 1px;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease; /* Suaviza as transições de transformação */
  }

  #hamburguer::before {
    top: -8px;
  }

  #hamburguer::after {
    top: 8px;
  }

  /* Estilos quando o menu está ativo */
  .js [data-menu="button"].active #hamburguer {
    background: transparent; /* Torna a barra central transparente */
  }

  .js [data-menu="button"].active #hamburguer::before {
    transform: rotate(45deg); /* Rotaciona para formar um "X" */
    top: 0; /* Centraliza em relação à barra principal */
  }

  .js [data-menu="button"].active #hamburguer::after {
    transform: rotate(-45deg); /* Rotaciona para formar um "X" */
    top: 0; /* Centraliza em relação à barra principal */
  }

  .js [data-menu="list"]  {
    visibility: hidden; 
    opacity: 0; 
    position: absolute;
    width: 100vw;
    top: 0;
    right: 0px;
    text-align: center;
    z-index: 1;
    height: 100vh;
    background-color: var(--primary);
  }

  .js [data-menu="list"] a {
    font-size: 24px;
    width: 100%;
    line-height: 1;
    width: 100vw;
  }

  .js [data-menu="list"] li {
    width: 100%;
    position: relative;
  }

  .js [data-menu="list"] li::after {
    content: "";
    display: block;
    width: 100%;
    top: 10px;
    height: 2px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.09);
    position: relative;
  }

  .js [data-menu="list"] li:last-child::after {
    display: none;
  }

  .js [data-menu="list"].active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  [data-menu="contato-mobile"], [data-menu="linkedin"] {
    display: none;
  }

  [data-menu="contato-mobile"].active  {
    position: fixed;
    font: 500 1rem "Hind", sans-serif;
    color: var(--bg);
    display: block;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 1rem;
    opacity: 0;
  }

  [data-menu="linkedin"].active {
    position: fixed;
    font: 500 1rem "Hind", sans-serif;
    color: var(--bg);
    display: block;
    bottom: 0;
    right: 0;
    z-index: 999;
    padding: 1rem;
    opacity: 0;
  }
}