#mobile-parcerias-globais {
 background-color: #F5F5F5;
}

.slide-content-parcerias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 48px;
}

.parcerias-globais h3 {
  color: var(--text);
  font: 500 2rem/1.125 "Hind", sans-serif;
  margin-bottom: 12px;
}

.parcerias-globais p {
  color: var(--text);
  font: 300 1rem/1.4 "Hind", sans-serif;
  margin-bottom:10px;
}

.svg-container svg {
  width: 100%; /* Ocupa 100% da largura do contêiner */
  height: auto; /* Mantém a proporção ao ajustar a largura */
}

@media (max-width: 768px) {
  .slide-content-parcerias {
    grid-template-columns: 1fr;
    margin-top: 0;
    gap: 20px;
  }

  .svg-container svg {
    max-width: 100%;
    max-height: auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) and (orientation: portrait) {
    
  .slide-content-parcerias {
    grid-template-columns: 1fr;
    gap: 20px;
  }
 
  .svg-container svg {
    max-width: 100%;
    max-height: 240px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) and (orientation: landscape) {
  .slide-content-parcerias {
    grid-template-columns: 1fr 1fr;
  }
}