.rodape-background {
  background-color: var(--primary);
  /* border-top: 0.5px solid var(--textwhite); */
}

.rodape {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 100px 20px;
}

.rodape h4 {
 margin-bottom: 12px;
 color: var(--textwhite);
 font: 800 1.2rem/1.2 "Inter", sans-serif;
}

.coluna-1 ul, .coluna-2 ul, .coluna-3 ul, .coluna-4 ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font: 300 1rem/1.2 "Inter", sans-serif;
}

.rodape a {
  position: relative;
  display: inline-block; /* Garante que o link se ajuste ao texto */
  text-decoration: none; /* Remove o sublinhado padrão */
  color: var(--textwhite);
}

.rodape a:hover {
  opacity: 0.6;
}


@media (max-width: 768px) { 
  /* .rodape-background {
    border-top: 1px solid var(--textwhite);
  } */
  .rodape {
    flex-direction: column;
    gap: 40px;
    padding: 60px 20px;

  }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) {

}

@media only screen and (min-width: 1180px) {

}