.seguranca {
  display: flex;
  height: 70vh;
  width: 100%;
}

.img-seguranca {
  width: 50%;
  height: 100vh;
  position: relative;
  object-fit: cover;
  z-index: -1;
}

.background-img-seguranca {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../img/seguranca.webp') no-repeat center center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  background-blend-mode: lighten;
  background-color: rgba(160, 0, 0, 0.3);  background-position: 18% 90%;
}

.seguranca-texto {
  width: 50%; /* Isso define que o texto ocupa 50% da largura da viewport */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 5%; /* Adicione um pouco de padding para não colar o texto na borda */
  gap: 20px;
}

.seguranca-texto h3 {
  font: 500 2rem/1.2 'Coolvetica', sans-serif;
  color: var(--text);
}

.seguranca-texto p {
  font: 300 1rem/1.5 "Inter", sans-serif;
  color: var(--text);
}

.texto-destaque {
  color: var(--secondary);
}

@media (max-width: 768px) { 
  .seguranca {
    flex-direction: column; /* Empilha os elementos verticalmente */
    position: relative;
  }

  .seguranca-texto {
    width: 100%;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 30%;
    }

  .seguranca-texto h3 {
    font-size: 2rem;
    color: var(--textwhite);
    text-align: center;
  }

  .seguranca-texto p {
    max-width: 100%;
    color: var(--textwhite);
    text-align: center;

  }

  .img-seguranca {
    width: 100%;
    object-fit: cover;
    border-top: none;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .background-img-seguranca {
    clip-path: none;
    background-position: center;
    background-size: cover;
    /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25%), 0 100%); */
    background-position: 1% 10%;
  }

  /* .texto-destaque {
    color: var(--alerta);
  } */

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) {

}

@media only screen and (min-width: 1180px) {

}