.sobre {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}


.sobre-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 200px;
}

.sobre-texto h2 {
  font: 500 2rem/1.5 'Coolvetica', sans-serif;
  color: var(--text);
  text-align: center;
}

.sobre-texto p {
  font: 300 1rem/1.5 "Inter", sans-serif;
  color: var(--text);
  text-align: center;
}

@media (max-width: 768px) { 
  .sobre-texto {
    padding: 0px;
  }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) {

}

@media only screen and (min-width: 1180px) {

}